body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background: #fff;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 350px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
    font-weight: bold;
  } 
  
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: rgb(196, 59, 59);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #de3838;
  }
  
  .hidden {
    display: none;
  }
  
  #signupMessage {
    margin-bottom: 15px;
    background: #f0f8ff;
    padding: 10px;
    border-radius: 5px;
  }