body {
    font-family: Arial, sans-serif;
    background: white;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
  }

  .container{
    background: #884243;
    padding:60px;
    width: 80%;
    margin-left: 110px;
    border-radius: 20px;
    
  }

  .container h1{
    text-align: center;
    color: white;
    font-size: 2.5em;
    margin-bottom: 10px;

  }